@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Variables */
:root {
  --clr-play-btn: hsl(152, 95%, 34%);
  --shadow-play-btn: 0px 3px 15px rgba(0, 255, 136, 0.356);
  --active-play-btn: hsl(152, 99%, 27%);
  --clr-save-btn: hsl(214, 100%, 50%);
  --shadow-save-btn: 0px 3px 15px hsla(209, 100%, 50%, 50%);
  --active-save-btn: hsl(209, 100%, 33%);
  --music-box-border: 1px solid #ccc;
  --song-title-border: 1px solid #ccc;
}

/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f2f2f2;
  background-image: linear-gradient(45deg, #0093e9 0%, #80d0c7 100%);
  position: relative;
}

li {
  list-style: none;
}

/* Main Styling */
.main {
  display: flex;
  align-self: center;
  justify-content: center;
  min-height: 100vh;
}

/* Wrapper Styling */
.wrapper {
  margin: 40px auto;
  max-width: 320px;
  padding: 20px;
}

.heading {
  padding: 10px 0;
}

/* Form Styling */
.playlist-form {
  padding: 20px;
  border: var(--music-box-border);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(122, 120, 120, 0.267);
  margin-bottom: 50px;
}

.form {
  margin-bottom: 20px;
}

.form__label {
  display: inline-block;
  left: 8px;
  margin-bottom: 2px;
  padding: 0 5px;
  position: relative;
  top: 10px;
  font-size: 13px;
  font-weight: 700;
  background-color: white;
}

.form__input {
  display: block;
  height: 40px;
  margin-bottom: 10px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid;
}

.form__textarea {
  display: block;
  height: 100px;
  margin-bottom: 20px;
  padding: 12px;
  resize: vertical;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
}

/* Button Styling */
.btn {
  width: 110px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 1;
}

.btn--save {
  background-color: var(--clr-save-btn);
}

.btn--save:hover {
  box-shadow: var(--shadow-save-btn);
}

.btn--save:active {
  background-color: var(--active-save-btn);
}

.btn--play {
  background-color: var(--clr-play-btn);
}

.btn--play:hover {
  box-shadow: var(--shadow-play-btn);
}

.btn--play:active {
  background-color: var(--active-play-btn);
}

/* Music Box Styling */
.music-box {
  margin: 30px 0;
  padding: 20px 20px 30px;
  border: var(--music-box-border);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(122, 120, 120, 0.267);
}

.album-picture {
  display: block;
  max-width: 260px;
  width: 100%;
  border-radius: 4px;
}

.song-title {
  padding: 20px 0 10px;
  border-bottom: var(--song-title-border);
  color: rgb(26, 34, 43);
}

.song-artist {
  margin-top: 10px;
  color: rgba(51, 48, 48, 0.8);
}

.song-album {
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

/* Footer Styling */
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

/* Media Query */
@media only screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }

  .playlist-form {
    max-width: 400px;
    margin: auto;
    padding: 20px 40px;
  }

  .music-list {
    display: flex;
    column-gap: 30px;
  }

  .music-box {
    max-width: 320px;
  }
}
