@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  --color-select-btn: hsl(152, 95%, 34%);
  --shadow-select-btn: 0px 3px 15px rgba(0, 255, 136, 0.356);
  --active-select-btn: hsl(152, 99%, 27%);
  --clr-save-btn: hsl(214, 100%, 50%);
  --shadow-save-btn: 0px 3px 15px hsla(209, 100%, 50%, 50%);
  --active-save-btn: hsl(209, 100%, 33%);
  --song-track-border: 1px solid #ccc;
  --transition: all 0.3s ease;
}

/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  /* background-color: #444; */
  background-image: linear-gradient(45deg, #0093e9 0%, #80d0c7 100%);
  position: relative;
  transition: var(--transition);
}

a {
  color: aliceblue;
  text-decoration: none;
}

li {
  list-style: none;
}


/* Main Styling */
.main {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  min-height: 100vh;
}

/* Playlist Form Styling */
.playlist-form {
  padding: 20px;
  border: var(--music-box-border);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(122, 120, 120, 0.267);
  margin-bottom: 50px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  transition: var(--transition);
}

.form {
  margin-bottom: 20px;
}

.form__label {
  display: inline-block;
  left: 8px;
  margin-bottom: 2px;
  padding: 0 5px;
  position: relative;
  top: 10px;
  font-size: 13px;
  font-weight: 700;
  background-color: white;
}

.form__input {
  display: block;
  height: 40px;
  margin-bottom: 10px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid;
}

.form__textarea {
  display: block;
  height: 100px;
  margin-bottom: 20px;
  padding: 12px;
  resize: vertical;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
}

.btn--save {
  background-color: var(--clr-save-btn);
}

.btn--save:hover {
  box-shadow: var(--shadow-save-btn);
}

.btn--save:active {
  background-color: var(--active-save-btn);
}

/* Search Bar Styling */
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input Styling */
.input {
  display: block;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 12px;
  width: 320px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid;
}

/* Label Styling */
.search-label {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #f2f2f2;
  text-shadow: 0 2px 10px rgba(18, 132, 160, 0.805);
}

/* Song Track Styling */
.song-track {
  display: flex;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  border: var(--song-track-border);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(122, 120, 120, 0.267);
  transition: var(--transition);
}

.song-track:not(.song-track:last-child) {
  margin-bottom: 20px;
  margin-top: 20px;
}

.song-info {
  padding: 10px;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.album-image {
  display: block;
  max-width: 35%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  flex: auto;
}

.song-title {
  font-size: 15px;
  font-weight: 600;
  color: rgb(26, 34, 43);
}

.song-artist {
  font-weight: 500;
  font-size: 14px;
  color: rgba(51, 48, 48, 0.8);
}

/* Button Styling */
.btn {
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.8;
  transition: var(--transition);
}

.btn:hover {
  opacity: 1;
}

.btn--select {
  width: 90px;
  margin-top: auto;
  background-color: var(--color-select-btn);
}

.btn--select:hover {
  box-shadow: var(--shadow-select-btn);
}

.btn--select:active {
  background-color: var(--active-select-btn);
}

.btn--search {
  width: 120px;
  font-size: 16px;
  color: var(--color-select-btn);
  background-color: #fff;
}

.btn--search:hover {
  box-shadow: #fff;
}

.btn--search:active {
  background-color: rgb(216, 215, 215);
}

.btn--access-token {
  margin-inline: auto;
  margin-bottom: 15px;
  font-size: 14px;
  background-color: transparent;
}

/* Footer Styling */
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.footer a {
  border-bottom: 1px dotted aliceblue;
}